In [4]:
import pandas as pd

In [5]:
region_icu_csv = "../Data/region_hospital_icu_covid_data.csv"

In [6]:
region_icu_df = pd.read_csv(region_icu_csv)

In [7]:
region_icu_df.head()

,date,oh_region,icu_current_covid,icu_current_covid_vented,hospitalizations,icu_crci_total,icu_crci_total_vented,icu_former_covid,icu_former_covid_vented
0,2020-04-02,CENTRAL,51,39,113,0,0,0,0
1,2020-04-03,CENTRAL,57,52,141,0,0,0,0
2,2020-04-04,CENTRAL,65,57,143,0,0,0,0
3,2020-04-05,CENTRAL,65,55,174,0,0,0,0
4,2020-04-06,CENTRAL,73,58,187,0,0,0,0

In [8]:
region_icu_df.columns = region_icu_df.columns.unique()
region_icu_df.columns

Index(['date', 'oh_region', 'icu_current_covid', 'icu_current_covid_vented',
       'hospitalizations', 'icu_crci_total', 'icu_crci_total_vented',
       'icu_former_covid', 'icu_former_covid_vented'],
      dtype='object')

In [9]:
region_icu_df.oh_region.unique()

array(['CENTRAL', 'EAST', 'NORTH', 'TORONTO', 'WEST'], dtype=object)

In [10]:
regions = ['CENTRAL', 'EAST', 'NORTH', 'TORONTO', 'WEST']